/*
 * PATH to assets
 */
$assetPath:'../assets/';

/*
 * Monoschrome colour palette
 */
$white:#fff;
$offwhite:#bbbbbb;
$black:#000;
$drkgrey:#252525;
$meddrkgrey:#333333;
$medgrey:#cccccc;
$lgtgrey:#e1e1e1;
/*
 * Default application font sizes
 */
$fxxsmall:0.7em;
$fxsmall:0.8em;
$fsmall:1em;
$fmed:1.2em;
$fmedlrg:1.4em;
$flrg:2em;
$fxlrg:2.2em;
$fxxlrg:2.4em;
$fxxxlrg:3em;
