/*
 * The main UI for the puzzle
 */

#avd-puzzle-game {
  position: relative;
  width: 800px;
  height: auto;
  margin: 0 auto;
  text-align: center;

  .hd-pnl,
  canvas,
  footer {
    display: none;
  }

  .hd-pnl.visible,
  canvas.visible,
  footer.visible {
    display: block;
  }

  header.main {
    height: 50px;
    background-color: $drkgrey;

    .hd-pnl {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    display: none;
    width: 800px;
    height: 600px;
  }

  .content.visible {
    display: block;
  }

  div.main {
    display: block;
    width: 800px;
    height: 600px;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    @include box-sizing(content-box);
    background: $lgtgrey;
    overflow: hidden;
  }

  canvas {
    margin: 0;
    width: 800px;
    height: 600px;
    background: url($assetPath + 'black_swan_head.jpg');
  }

  footer {
    height: 30px;
    background-color: $drkgrey;
    color: $medgrey;
    padding-left: 5px;
    font-size: $fxxsmall;
    line-height: 30px;
  }

  .hitems,
  .label {
    display: inline-block;
    vertical-align: top;
    color: $white;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .first {
    margin-left: 20px;
  }

  .hitems {
    min-width: 30px;
  }

  .bt-ui {
    display: inline-block;
    background: $white;
    color: $drkgrey;
    border: none;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
  }

  .bt-ui.lrg {
    padding: 30px !important;
    font-size: $flrg !important;
    height: 50px;
    line-height: 50px;
  }

  .bt-ui:hover {
    background: $medgrey;
    color: $white;
  }

  h2 {
    text-align: center;
    margin-top: 40px;
    font-size: $flrg;
    color: $drkgrey;
  }

  p {
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
  }

  .hg-scores-grp {
    width: 600px;
    margin: 30px auto 0;

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid $drkgrey;
      height: 300px;
      overflow: hidden;

      td,
      th {
        text-align: left;
        padding: 10px;
      }

      th {
        background: $medgrey;
      }
    }
  }

  .scr-pg,
  .scr-type {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 10px;
      background: $medgrey;
    }
  }

  .scr-pg,
  .scr-type {
    list-style-type: none;

    li.active,
    li:hover {
      background: $drkgrey;
      color: $white;
    }
  }

  .scr-hd {
    position: relative;
  }

  .scr-pg {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 10px;
      background: $medgrey;
    }
  }

  .df-radios {
    width: 600px;
    text-align: center;
    margin: 20px auto 0;
  }
}

#bt-restart {
  position: absolute;
  right: 5px;
  top: 5px;
}

#bt-closesettings,
#bt-highscores,
#bt-opensettings,
#bt-start {
  position: relative;
  margin: 100px auto auto;
}

#bt-closesettings {
  margin-top: 50px;
}
